html {
  box-sizing: border-box;
  color-scheme: light dark;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

type-writer:not(:defined) {
  visibility: hidden;
}
